body {
  font-family: 'Press Start 2P', cursive;
  margin: 0 2rem;
}

.message-box {
  margin-bottom: 10px;
}

.confirm-controls-container {
  display: none;
}

.is-small {
  font-size: 10px;
}

#message-form button {
  margin-top: 10px;
}