body {
  font-family: 'Press Start 2P', cursive;
}

.message-box {
  margin-bottom: 10px;
}

.confirm-container {
  //display: none;
}

.is-small {
  font-size: 10px;
}

#message-form button {
  margin-top: 10px;
}